body{
    margin: 0;
    background-image: url("");
}
.detail-box1{
    margin-top: 5px;
}
.div-foto{
    height: 27vh;
    margin-top: 17px;
    contain: content;
    padding-top: -1px;
    }

.div-detalle{
    padding-left: 20px;
    padding-top: 24px;
    height: 29vh;
    }
.div-detalle h1{
    font-size: 16px;
    
}
.div-detalle h2{
    font-size: 13px;
}
.div-detalle p{
    font-size: 12px;
    font-style: italic;
}

@media (min-width:425px){
    .div-foto{
        padding-left: 3%;
    }
    .div-detalle{
        padding-left: 3%;
    }
}