body{
    margin: 0px;
    background-color: #272b30;
}

.box1 a{
    color: black;
}

.box1{
    border-radius: 20px;
    border: 4px solid #3a3f44;
    text-align: center;
    border-right: none;
   
}


.box2{
    border-radius: 20px;
    border: 4px solid #3a3f44;
    overflow-y: scroll;
    border-right: none;
    
   
}
.contenedor{
    
    display: grid;
    grid-template-columns: 1fr 3fr; 
    width: 97%;
    height: 700px;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    
    
   
 
   
}

.box2 p{
    margin: 0;
    line-height: 30px;
    text-align: justify; 
}

.son-box2{
    margin: auto;
    width: 90%;
    margin-top: 3%;
}

.son-box2 a{
    color: black;
}

.contenedor2{
  
    height: 300px;
}



img{
    width: 50%;
   
}