*{
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(134, 132, 132, 0.856);
}


nav {
    align-content: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}


a{
    color: white;
    padding-left: 0;
}

header{
    height: 150px;
    margin-top: 0%;
    background-color: #34383d;
    border: 1px solid #3a3f44;
    
};





