*{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}


nav {
    align-content: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


ul{
    padding-top: 0px;
    padding-left: 0px;
}

a{
    color: white;
    padding-left: 0;
}

header{
    border: 1px solid #db9494;
    height: 150px;
    margin-top: 0%
   
    
};





