*{
    text-decoration: none;
    font-family: sans-serif;
    color: #888;

}
nav {
    align-content: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    text-align: center;
}
a{
    padding-left: 0;
}
a ul{
    color: #888;
}
header{
    height: 85px;
    margin-top: 0%;
    background-color: #34383d   
};





