<%-include('header')%>
<link rel='stylesheet' href='/stylesheets/detail.css'>
<div class="contenedor-detail">
    <div class="detail-box1">
      <div class="div-foto"><img src="<%= result.thumbnail%>" alt=""></div>
      <div class=""><p></p></div>
      <div class="div-detalle"></div>
    </div>
    <div>

    </div>
</div>
<%-include('footer')%>