<link rel='stylesheet' href='/stylesheets/footer.css'>
<footer>
    <div class="contendor-footer">
        <div>
            <p><a href="">SOBRE NOSOTROS</a> </p>
            <p><a href="">CONTACTO</a></p>
            <p><a href=""></a>CONDICIONES DE USO</p>
             
        </div>
        <div>
            <p></p>
        </div>
        <div>
            <p><a href=""></a>SOPORTE</p>
            <p><a href="">PREGUNTAS FRECUENTES</a> </p>
            <p><a href="">CONDICIONES DE USO</a></p>
        </div>
        <div></div>
    </div>
</footer>
</body>
</html>