<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>game start</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>


  <body>
    <header>
      <div class="logo">
        <a  href="/">GameStart</a>
      </div>
      <nav class="link-home">
        <a href="/">home</a>
        <a href="">noticias</a>
      </nav>
    </header>