<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>games start</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>


  <body>
    <header>
     <nav>
       <a href="/"><ul>home</ul></a>
       <a href=""><ul>noticias</ul></a>
       <a href=""> <ul>idioma </ul></a>    
      </nav>
    </header>