<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>games start</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>


  <body>
    <header>
      <img src="" alt="">
      <nav id="links-juegos">
        <ul>JUEGOS</ul>
        <ul>NOTICIAS</ul>
      </nav>
      <nav id="links-idioma">
        <ul> IDIOMA </ul>
      </nav>
    </header>
    <div>
      <p><%= juegos[0].title %></p>
    </div>
    <footer></footer>
   
  </body>
</html>
